<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nombre del Artista" [(ngModel)]="artName">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descripcion" [(ngModel)]="artDescription"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URL Imagen" [(ngModel)]="artImg">
    </mat-form-field>
    <mat-form-field >
      <mat-select placeholder="Categoria" [(ngModel)]="artCathegory">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addArtista()">Agregar Artista</button>
</div>
